/* Generic settings */
html {
	font-size: 16px;
}
body {
	color: #111;
	font-family: Roboto, sans-serif;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1, h2 {
	font: 1.6rem "Roboto Condensed", sans-serif;
}
a {
	color: #111;
	text-decoration: none;
}
dt {
	font-weight: bold;
}

/* Header */
.authors {
	list-style: none;
}
.authors > li {
	display: inline;
	margin-right: 0.2ex;
	white-space: nowrap;
}
.authors > li:after {
	content: ",";
}
.authors > li:last-child:after {
	content: none;
}

.logo {
	float: right;
	max-width: 100%;
}

/* Structure */
.blur {
	color: #AAA;
}
.small {
	font-size: 80%;
}
ol.A > li {
	list-style: upper-alpha;
}
ul.small > li {
	list-style: none;
}

/* Tables */
table {
	border-collapse: collapse;
}
thead {
	border-top: thin solid;
}
thead, tbody, th {
	border-bottom: thin solid;
}
th, td {
	padding: 0 1ex;
	text-align: left;
	text-align: start;
}
