/* Generic settings */
body {
	margin: 0 1em;
}
header, h2, caption, figcaption {
	background-color: #ffdf00;
	padding: 1ex 1rem;
	margin: 0 -1rem;
}
a {
	text-decoration: underline;
}
a:hover {
	opacity: 0.8;
}
caption, figcaption {
	font: bold 1em "Roboto Condensed";
}

/* Header */
.logo {
	float: right;
	width: 10em;
	margin-left: 1ex;
}

/* Interactivity */
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
figcaption + img {
	max-height: 90%;
	max-height: calc(100% - 1.6em - 3.2ex);
}
.slide {
	visibility: hidden;
	position: fixed;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.active {
	visibility: visible;
}

/* Responsiveness */
@media (max-width: 40em) and (max-height: 32em) { html { font-size: 14px } }
@media (max-width: 30em) and (max-height: 24em) { html { font-size: 12px } }

@media (min-width: 50em), (min-height: 40em) { html { font-size: 20px } }
@media (min-width: 60em), (min-height: 48em) { html { font-size: 24px } }
@media (min-width: 70em), (min-height: 56em) { html { font-size: 28px } }
@media (min-width: 80em), (min-height: 64em) { html { font-size: 32px } }

@media (orientation: portrait) { h1 { clear: right } }
